// Variáveis
@import url('https://fonts.googleapis.com/css?family=Patua+One');
$fontFamily: 'Open Sans', sans-serif;
$fontFamily2: 'Patua One', cursive;

$corPrimaria: #d20500;
$corSecundaria: #636c72;
$corTerciaria: rgb(43,41,42);
$bgColor: #fff;

$w-100: 100%;
$w-80: 80%;
$w-50: 50%;
$w-40: 40%;
$w-20: 20%;
$w-10: 10%;

$smaller-width: 576px;
$tiny-width: 768px;
$medium-width: 992px;
$bigger-width: 1200px;

// Mixins
@mixin flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flexDirection($direction,$orientation){
	@include flex;
	-webkit-box-orient: $orientation;
	-webkit-box-direction: normal;
	-webkit-flex-direction: $direction;
	-ms-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin flexWrap($wrap){
	@include flex;
	-webkit-flex-wrap: $wrap;
	-ms-flex-wrap: $wrap;
	flex-wrap: $wrap;
}

@mixin flexAlign($align){
	@include flex;
	-webkit-box-align: $align;
	-webkit-align-items: $align;
	-ms-flex-align: $align;
	align-items: $align;
}

@mixin smaller {
	@media (min-width: #{$smaller-width}) and (max-width: #{$tiny-width - 1px}) {
		@content;
	}
}

@mixin tiny {
	@media (min-width: #{$tiny-width}) and (max-width: #{$medium-width - 1px}) {
		@content;
	}
}

@mixin medium {
	@media (min-width: #{$medium-width}) and (max-width: #{$bigger-width - 1px}) {
		@content;
	}
}

@mixin bigger {
	@media (min-width: #{$bigger-width}) {
		@content;
	}
}


// Estrutura padrão
*{
	box-sizing: border-box;
}
html {
	font-family: $fontFamily;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	padding-top: 56px;
	font-family: $fontFamily;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: $corSecundaria;
	background-color: $bgColor;
	margin: 0;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	color: $corTerciaria;
	line-height: 1.1;
	margin-top: 0;
}

h1 {
	margin-bottom: 1.5rem !important;
	font-family: $fontFamily2;
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
}

h5{
	font-size: 1.25rem;
}

small{
	font-size: 70%;
	font-weight: normal;
	color: $corSecundaria;
	font-family: $fontFamily;

}
a{
	text-decoration: none;
	color: $corPrimaria;
	font-weight: bolder;
}
p{
	color: $corTerciaria;
	text-align: justify;
}

ul{
	list-style: none;
}

.pagination{
	@include flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
	.link{
		position: relative;
		display: block;
		padding: 0.5rem 0.75rem;
		margin-left: -1px;
		line-height: 1.25;
		background-color: white;
		border: 1px solid lighten($corSecundaria, 50%);
		border-radius: 0.25rem;
	}
}

.btn{
	color: white;
	background-color: $corPrimaria;
	border-color: $corPrimaria;
	display: inline-block;
	font-weight: normal;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
}

.fixed {
	position: fixed !important;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.boxContainer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;

	@include smaller {
		width: 100%;
	}
	@include tiny {
		width: 100%;
	}
	@include medium {
		width: 90%;
	}
	@include bigger {
		width: 60%;
	}	
}


.boxLine{
	@include flexWrap(wrap);
	margin-right: -15px;
	margin-left: -15px;
	&>*{
		padding-left: 15px;
		padding-right: 15px;
	}
}

.justify-content-center{
	@include flex;
	justify-content: center;
}

#blogBlock{
	@include smaller {
		width: 100%;
	}
	@include tiny {
		width: 100%;
	}
	@include medium {
		width: 60%;
	}
	@include bigger {
		width: 60%;
	}
	.blog-post{
		position: relative;
		@include flexDirection(column, vertical);
		border: 1px solid rgba($corSecundaria, 0.3);
		border-radius: 0.25rem;
		.image{
			width: 100%;
			height: auto;
			border-top-right-radius: calc(0.25rem - 1px);
			border-top-left-radius: calc(0.25rem - 1px);

		}
		.text-block{
			padding: 1.25rem;
			.title{
				font-family: $fontFamily2;
				margin-bottom: 0.75rem;
			}
		}
		.footer{
			border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
			color: $corSecundaria !important;
			padding: 0.75rem 1.25rem;
			background-color: lighten($corSecundaria, 50%);
			border-top: 1px solid rgba($corSecundaria, 0.3);
		}
	}
}

#sidebarWidget{
	@include smaller {
		width: 100%;
	}
	@include tiny {
		width: 100%;
	}
	@include medium {
		width: 40%;
	}
	@include bigger {
		width: 40%;
	}
	.sidebarBlock{
		@include flexDirection(column,vertical);
		position: relative;
		background-color: white;
		border: 1px solid lighten($corSecundaria, 50%);
		border-radius: 0.25rem;
		margin-bottom: 2em;
		.header{
			padding: 0.75rem 1.25rem;
			margin-bottom: 0;
			background-color: lighten($corSecundaria, 50%);
			border-bottom: 1px solid rgba($corSecundaria, 0.3);
			font-family: $fontFamily2;
		}
		.block{
			padding: 1.25rem;
			.input-group{
				width: $w-100;
				@include flex;
				input{
					display: block;
					width: 100%;
					padding: 0.5rem 0.75rem;
					font-size: 1rem;
					line-height: 1.25;
					color: $corSecundaria;
					background-color: white;
					border: 1px solid rgba($corSecundaria, 0.3);
					border-radius: 0.25rem;
					border-top-right-radius: 0rem;
					border-bottom-right-radius: 0rem;

				}
				.btn{
					color: $corSecundaria;
					background-color: white;
					border: 1px solid rgba($corSecundaria, 0.3);
					border-radius: 0.25rem;
					border-top-left-radius: 0rem;
					border-bottom-left-radius: 0rem;
					margin-left: -1px;
				}
			}
			.items {
				overflow: hidden; /* simple clearfix */
			}
			.items .item {
				float: left;
				width: 50%;
				color: $corPrimaria;
			}
		}
	}
}

#navbar{
	background-color: $corPrimaria !important;
	@include flexDirection(column,vertical);
	position: relative;
	padding: 0.5rem 1rem;

	.navbar-btn{
		background-color: transparent;
		color: white;
		padding: 0.25rem 0.75rem;
		font-size: 1.25rem;
		line-height: 1;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		position: absolute;
right: 1rem;

	}

	@include smaller {
		.toggleButton{
			display: block;
		}
	}
	@include tiny {
		.toggleButton{
			display: none;
		}

		@include flexDirection(row,horizontal);
		@include flexWrap(nowrap);
		@include flexAlign(center);

		.collapse {
			@include flex;
			width: $w-100;
			&>ul{
				@include flexDirection(row,horizontal);
				margin-left: auto !important;
			}
		}
		&>.boxContainer{
			@include flexWrap(nowrap);
			@include flexAlign(center);

		}
	}
	@include medium {
		.toggleButton{
			display: none;
		}
		@include flexDirection(row,horizontal);
		@include flexWrap(nowrap);
		@include flexAlign(center);

		.collapse {
			@include flex;
			width: $w-100;
			&>ul{
				@include flexDirection(row,horizontal);
				margin-left: auto !important;
			}
		}
		&>.boxContainer{
			@include flexWrap(nowrap);
			@include flexAlign(center);

		}
	}
	@include bigger {
		.toggleButton{
			display: none;
		}
		@include flexDirection(row,horizontal);
		@include flexWrap(nowrap);
		@include flexAlign(center);

		.collapse {
			@include flex;
			width: $w-100;
			&>ul{
				@include flexDirection(row,horizontal);
				margin-left: auto !important;
			}
		}
		&>.boxContainer{
			@include flexWrap(nowrap);
			@include flexAlign(center);

		}
	}

	.logo{
		display: inline-block;
		padding-top: .25rem;
		padding-bottom: .25rem;
		margin-right: 1rem;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap;
	}
	.link{
		color: rgba(255,255,255,0.5);
		padding-right: .5rem;
		padding-left: .5rem;
		&.active{
			color: white;
		}
	}
	

}

